{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
<script src = "static/Js/signupclick.js"></script>
{% endblock %}
{% block content %}

<div class="col-lg-12">
    <div id="content">
        <h1>Bit Blog</h1>
        <h3>Say something deep shits in here</h3>
        <hr>
        <form action="{{url_for('login_tab')}}" method="get">
            <button class="btn btn-light"><i class="fa fa-power-off" aria-hidden="true"></i> Get Started!</button>
        <form>
        
    </div>
</div>
 


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="static/Js/signUp.js"></script>
<script src="static/Js/login.js"></script>
{% endblock %}