<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{form.email(class = "form-control", placeholder="Email")}}
    </div>
    <div class="form-group">
        {{form.password(class = "form-control", placeholder = "Password")}}
    </div>
    <div class="form-check">
        {{form.remember(class = "form-check-input")}}
        {{form.remember.label(class = "form-check-label")}}
    </div>
    <!-- <button type="submit" class="btn btn-primary" id = "btn-submit-form">Create An Account</button> -->
    {{form.submit(class = "btn btn-primary", id = "btn-submit-form")}}
</form>