{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // document.querySelector('#login-tab').onclick = () => {
        //     clickTo('login-tab')
        // }

        // document.querySelector('#signup-tab').onclick = () => {
        //     clickTo('signup-tab')
        // }

        

        // console.log(document.title);
        if(document.title == "signup - BitBlog")
            setStateForButton('signup-tab');
        else
            setStateForButton('login-tab');
        
        // listner post signup and login
    });
    // var curtab = "";
    // function clickTo(button) {
    //     console.log("click to " + button + " " + curtab);
    //     if (curtab ===  button) 
    //         return;
    //     curtab = button;
    //     const request = new XMLHttpRequest();
    //     let url = "/" + button;
    //     //console.log(url)
        
    //     request.open("GET", url);
    //     request.onload = () => {
    //         console.log("on load after form");
    //         const response = request.responseText;
    //         location.reload();
    //         // history.pushState(null, url, url);
    //     };
    //     const formData = new FormData();
    //         // Push state to URL.
    //     formData.append("type","change_form");
    //     request.send(formData);    
    // }

    function setStateForButton(button) {
        document.querySelector('#signup-tab').style.backgroundColor = "#ededed";
        document.querySelector('#signup-tab').style.color = "#8c989c";
        document.querySelector('#login-tab').style.backgroundColor = "#ededed";
        document.querySelector('#login-tab').style.color = "#8c989c";
        document.querySelector("#"+button).style.backgroundColor = "white";
        document.querySelector("#"+button).style.color = "black";
      
    }

</script>
{% endblock %}

{% block content %}

<div class = "background-form">
    <div class = "btn-login-signup">
       
        <button type = "button" class="btn-login" id = "login-tab" onclick="window.location.href='{{ url_for( 'login_tab' ) }}';"
        >Login</button>
    
    
        <button class="btn-login" id = "signup-tab" onclick="window.location.href='{{ url_for( 'signup_tab' ) }}';"
        >Sign Up</button>
    
       
    </div>

    <div class="login-form" id = "content_form">   
        {% block form_content %}
        <!-- <form>
            <div class="form-group">
                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                    placeholder="Your username or email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="passwordInput" placeholder="Your password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary" id = "btn-submit-form">Login</button>
        </form> -->
        {% endblock %}
    </div>
</div>

{% endblock %}

