<!DOCTYPE html>

<html>
    <body style="text-align: center">
        <div style="margin-left:auto; margin-right: auto;background-color:#F4F5FB; width: 60%; padding-right: 5px; padding-top: 10px; padding-bottom: 10px;"> 
            <h2>Flask Blog</h2>
            <div>
                <h3 style="font-size: 18px; line-height: 24px; font-family: Arial, Helvetica Neue, sans-serif; color: rgb(150, 102, 102); font-weight: normal;">
                    You have just requested a password reset for the Blog account associated with this email address.
                </h3>
                
                <form action="{{url_for('users.reset_token', token=token, _external=True)}}" method="get" style="text-align: center; margin-top: 30px; margin-bottom: 20px;">
                    <button style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; color: rgb(255, 255, 255); text-decoration: none; display: inline-block; padding: 12px 40px; border-style: solid; border-width: 1px; border-color: rgb(21, 195, 154); border-radius: 45px; background: linear-gradient(rgb(21, 195, 154) 0%, rgb(21, 195, 154) 100%); font-weight: bold;" > Reset Password</button>
                </form>
                
                <p style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; font-weight: bold;">This link will expire in 10 minutes after this email was sent.</p>
                <p style="text-align: center">___________________________________________________________________________</p>

                <h3 style="font-size: 18px; line-height: 25px; font-family: Arial, Helvetica Neue, sans-serif; color: rgb(102, 102, 102); font-weight: normal;">If you did not make this request then simply ignore this email and no changes will be made.</h3>
            </div>
        </div>
    </body>
</html>